#imgSize > form > table.gTable2>tbody{
    position: relative;
    >tr:nth-child(3),
    >tr:nth-child(4){display: none;}
    
    >tr:nth-child(1){
        th{display: none;}
        td{
            position: absolute; top: 50%; right: 8px; transform: translateY(-50%);
            height: auto; padding: 0 !important;
            border: 0 !important;}
    }
    >tr:nth-child(2){
        th{display: none;}
        td{
            width: 100%; height: auto; padding: 16px 8px !important;
            border: 0 !important; border-bottom: 1px solid #ccc !important;
            span{
                font-size: 24px !important;
            }
        }
    }

}
#imgSize > form > table:nth-child(15) > tbody > tr.prevNext_tbl:nth-child(odd)>td>table>tbody>tr{
    position: relative;
    display: flex; justify-content: space-between; align-items: center;
    td:nth-child(3){
        position: absolute; z-index: 1;
        width: calc(100% - 50px) !important;
        text-align: right;
        a{display: block; width: 100%;}
    }
    td:nth-child(4){
        text-align: left !important;
        flex: 1;
    }
    
}

//#FRM .show_view > .shop_frame.clearfix.shop_framehyo, .shopPriceBox, .opt_content, .shop_list02 {display:none !important;}  
// .shop_frame{order:2}
//#FRM  .shop_frame .shop_list{display:flex !important; flex-direction:column !important; align-items:flex-end !important;}
// .shop_frame .shop_list > s{font-family:'Noto Sans KR' !important;font-weight:500 !important; font-size: 16px !important; margin-right: 0 !important;}
 //.shop_frame .shop_list >span > strong {font-family:'Noto Sans KR' !important; color : #ff7f50 !important; font-weight:900 !important;}
//#FRM > div.show_view > div:nth-child(9) {display:none !important;}
//#FRM > div.show_view > div:nth-child(10) {order:3}